.ab1{
    font-family: "Lucida Console", "Courier New", monospace;
} 
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.ofy{
    width:70%;
    margin-left: 120px;
}
.crtoff{
    margin-left: 80px;
}
.background6{
    background-color:lightcyan;
}