.hme_hd{
    width: 100%;
    margin-left: 0%;
}
.zz{
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.con_1{
    align-content: "center";
}
.tabledeli{
    text-align: center;
    padding: 1px;
}
.tabledeli th, td {
    padding: 0px;
    border-color: blue;
}
.background1{
    background-color:antiquewhite;
}